#time,
#questionsRecord {
    font-size: 1.4em;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    display: inline-block;
    font-weight: bolder;
    padding-left: 2px;
    overflow-x: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#page-wrapper {
    margin-top: 40px;
}

.mySticky {
    height: 50px;
    width: 50%;
    top: 50px;
    margin: 0px auto;
    position: sticky;
    position: -webkit-sticky;
    background: #f8f8f8;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 0.6;
    padding-top: 10px;
}

.cur {
    cursor: pointer;
    user-select: none;
}

.navbtn {
    background-image: linear-gradient(to right, #337ab7 0%, #47a0ee 51%, #337ab7 100%);
    color: black;
    height: 100%;
    text-align: center;
    font-size: 1.3em;
    padding-top: 7px;
}

.prevbtn {
    border-bottom-left-radius: 50%;
}

.submitbtn {
    border-radius: 20%;
    padding: 5px 20px;
}

.navbtn:hover {
    background-image: linear-gradient(to right, #193650 0%, #1b476d 51%, #337ab7 100%);
    color: white;
}

.nextbtn {
    border-bottom-right-radius: 50%;
}

.mydiv {
    float: left;
    position: relative;
    width: 33.32%;
}

.nav .active {
    background: rgba(220, 220, 220, 0.4);
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .mySticky {
        top: 100px;
        width: 100%;
    }
}

#pragraphExtend {
    color: #23527c;
    margin-left: 10px;
    font-size: 1.3em;
}

#pragraphExtend:hover {
    text-decoration: underline;
    cursor: pointer;
}

.panel-passage-body {
    max-height: 300px;
    overflow-x: hidden;
    font-size: 1.2em;
}

.paragaphExtend {
    position: relative;
}

.paragaphExtend::after {
    content: "\f107";
    color: #333;
    top: -2px;
    right: -15px;
    position: absolute;
    font-family: "FontAwesome"
}

.paragaphExtend[aria-expanded="true"]::after {
    content: "\f106";
}