#time,
#questionsRecord {
    font-size: 1.4em;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    display: inline-block;
    font-weight: bolder;
    padding-left: 2px;
    overflow-x: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}



.mySticky {
    height: 50px;
    width: 50%;
    top: 50px;
    margin: 0px auto;
    position: sticky;
    position: -webkit-sticky;
    background: #f8f8f8;
    z-index: 1;
}


.cur {
    cursor: pointer;
    user-select: none;
}

.navbtn {
    color: black;
    height: 100%;
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
}
.timer-time{
    padding-top: 10px;
}


.submitbtn {
    border-radius: 20%;
    padding: 5px 20px;
    max-height: 50px;
}

.navbtn:hover {
    background: #ccc;
    color: black;
}

.mySticky:hover{
    opacity: 1;
}


.mydiv {
    float: left;
    position: relative;
    width: 33.32%;
}

.nav .active {
    background: rgba(220, 220, 220, 0.4);
}

@media screen and (max-width: 880px) {
    /* start of medium tablet styles */
    .mySticky {
        width: 60%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .mySticky {
        top: 100px;
        width: 100%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 400px) {
    /* start of medium tablet styles */
    .mySticky {
        top: 150px;
        width: 100%;
        margin-bottom: 50px;
    }
    .main{
        padding-top: 100px;
    }
}

#pragraphExtend {
    color: #23527c;
    margin-left: 10px;
    font-size: 1.3em;
}

#pragraphExtend:hover {
    text-decoration: underline;
    cursor: pointer;
}

.panel-passage-body {
    max-height: 300px;
    overflow-x: hidden;
    font-size: 1.2em;
}

.paragaphExtend {
    position: relative;
}

.paragaphExtend::after {
    content: "\f107";
    color: #333;
    top: -2px;
    right: -15px;
    position: absolute;
    font-family: "FontAwesome"
}

.paragaphExtend[aria-expanded="true"]::after {
    content: "\f106";
}

@media (max-width: 1077px) {
    .col-sm-4 {
        margin-top: 5px;
    }
}

.errors-information, .student-information, .brand-information-for-exam {
    padding : 5px 10px 10px 10px;
}

.brand-information{
    background: #f7f7f7 !important;
    margin-top: 50px;
}

.brand-information-for-exam{
    background: #e8ebf9 !important;
}

.student-information{
    background: #337ab7 !important;
    color: white;
}

@media(min-width:768px) {
    .page-wrapperUser {
        margin: 0 0 0 0 !important;
    }
}